.btn-wrapper {
	display: flex;
	justify-content: center;
}

.btn {
	width: 100%;
	max-width: 240px;
	margin: auto;
	padding: 10px;
	border: none;
	border-radius: 20px;

	font-size: 25px;
	font-weight: 700;
	font-family: 'Nunito', sans-serif;

	cursor: pointer;
	outline: none;
}
